html, body {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: #F6F6F6;
}

ul, li {
    list-style-type: none; 
    padding-left: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

address {
    display: inline;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16%;
    margin-right: 16%;

}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 800px;
    max-width: 1920px;
}

header nav {  
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #F0F0F0;
    border-radius: 20px;
    margin-top: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
}

header nav ul li a {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2F2626;
}

header nav ul li a:hover {
    display: block;
    padding:0 14px;
    margin: 0 -14px;
    border-radius: 4px;
    background: #5C3D2C;
    color: #FFFFFF;
}

header h1 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 100px;
    color: #000000;
}

header h2 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 42px;
    margin-top: 100px;
    margin-bottom: 0;
    color: #5B5B5B;
}

main .about_section .cloud_wrapper {
    position: relative;
    background: #2F2626;
    border-radius: 20px;
    padding: 26px;
    margin-bottom: 46px;
}

main .about_section .cloud_wrapper::after {
    position: absolute;
    bottom: -38px;
    left: 3.5em;
    border: 16px solid transparent;
    border-top: 24px solid #2F2626;
    content: '';
}

main .about_section .cloud_wrapper span {
    display: block;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 44px;
    padding-left: 26px;
    color: #FFFFFF;
}

main .about_with_avatar {
    display: flex;
    justify-content: space-between;
}

main .about_with_avatar .avatar_wrapper {
    margin-right: 2.5em;
}

main .about_with_avatar .avatar_wrapper img {
    object-fit: cover;
    width: 134px;
    height: 134px;
    border-radius: 100%;
    border: 3px solid #E6E6E6;
}

.standart_block {
    padding: 30px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-bottom: 46px;
}

.standart_block h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #000000;
}

.standart_block p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #000000;
}

.standart_block .education_items_wrapper {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 14px;
}

.education_items_wrapper .education_item {
    display: flex; 
    width: 50%;
    max-width: 600px;
}

.education_item .description_item {
    padding: 14px 20px;
}

.education_item .description_item p, 
.education_item .description_item ul li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.education_item .description_item ul li::before {
    content: '- '
}

.contacts_and_skills {
    display: flex;
    justify-content: space-between;
}

.contacts_and_skills .contacts {
    width: 25%;
    
}

.contacts_and_skills .middle_wrapper {
    width: 35%;
    display: flex;
    align-items:flex-end;
    --rounded: 20px;
}

.contacts_and_skills .middle_wrapper .middle_background {
    position: relative;
    width: 336px;
    height: 168px;
    border-radius: 120px 60px 0px 0px;
    background: #F7F7F7;
    margin-bottom: -30px;
}

.contacts_and_skills .middle_wrapper .middle_background::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(var(--rounded) - (var(--rounded) * 2));
    content: '';
    width: var(--rounded);
    height: var(--rounded);
    background-color: #ffffff;
    border-radius: 0 0 var(--rounded) 0;
    z-index: 2;
}

.contacts_and_skills .middle_wrapper .middle_background::after {
    display: block;
    position: absolute;
    bottom: 0;
    right: calc(var(--rounded) - (var(--rounded) * 2));
    content: '';
    width: var(--rounded);
    height: var(--rounded);
    background-color: #ffffff;
    border-radius: 0 0 0 var(--rounded);
    z-index: 2;
}

.contacts_and_skills .middle_wrapper .middle_background img {
   position: relative;
   margin-top: -30px;
}

.contacts_and_skills .middle_wrapper .middle_background .rounded::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(var(--rounded) - (var(--rounded) * 2));
    content: '';
    width: var(--rounded);
    height: var(--rounded);
    background-color: #F6F6F6;
    border-radius: var(--rounded) 0 0 0;
    z-index: 1;
 }

 .contacts_and_skills .middle_wrapper .middle_background .rounded::after {
    display: block;
    position: absolute;
    bottom: 0;
    right: calc(var(--rounded) - (var(--rounded) * 2));
    content: '';
    width: var(--rounded);
    height: var(--rounded);
    background-color: #F6F6F6;
    border-radius: 0 var(--rounded) 0 0;
    z-index: 1;
 }

.contacts_and_skills .skills {
    width: 40%;

}

